body {
  font-family: 'Prompt', sans-serif;
  background: #f0fdf4;
  margin: 0;
  color: #333;
}

.gridcontainer {
  display: grid;
  grid-template-areas:
    "header header header header header"
    "lside main main main main"
    "footer footer footer footer footer";
  grid-gap: 10px;
  padding: 10px;
}

.item {
  border-radius: 10px;
  padding: 15px;
  text-align: center;
}

.item-H {
  grid-area: header;
  background: linear-gradient(90deg, #00796b, #43a047);
  color: white;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 4%;
  border-radius: 8px;
  box-sizing: border-box;
}

.item-H .logo {
  height: 80px;
  width: auto;
  object-fit: contain;
  margin-right: 20px;
  border-radius: 10px;
  background-color: #fff;
  padding: 5px;
}


.logo {
  height: 60px;
  margin-bottom: 5px;
}


.item-L {
  grid-area: lside;
  background: #e0f2f1;
  padding-top: 30px;
}

.menu-link {
  display: block;
  background: #43a047;
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 8px 20px;
  border-radius: 25px;
  transition: 0.3s;
}

.menu-link:hover {
  background: #2e7d32;
}


.item-M {
  grid-area: main;
  background: #f9fbe7;
  overflow-y: auto;
  height: 480px;
}


.item-F {
  grid-area: footer;
  background: #004d40;
  color: white;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;

}


.product-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
}


.product {
  background-color: #ffffff;
  border: 2px solid #e0e0e0;
  border-radius: 12px;
  text-align: center;
  padding: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}


.product:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.product img {
  width: 180px;
  height: 180px;
  object-fit: contain;
  margin-bottom: 10px;
}

.product h3 {
  margin: 5px 0 5px 0;
  font-size: 18px;
  color: #2e7d32;
  font-weight: 600;
}

.product .price {
  color: #d32f2f;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.product input[type="number"] {
  width: 60px;
  padding: 3px;
  font-size: 14px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}